$categories: (
  ingreso: var(--ion-color-primary),
  desarme: #3bc7c4,
  reparacion: #ac282b,
  preparacion: #8e8d93,
  pintura: #fe4c52,
  armado: #fd8b2d,
  estetica: #fed035
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}
